{% extends "layout.html" %}
{% block content%}

<!DOCTYPE html>
<html>
<head>
  {%include 'side.html'%}
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
  
  <script type='text/javascript' src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='newexample.js') }}"></script>
  
  
  <style >
    #hiderow,
.delete {
  display: block;
}
    #example{
  box-sizing: content-box;  
  width: 100%;
  height:100%;
  padding: 30px;  
  border: 10px solid blue;
  margin-left: 200px;
}

  #footer {
 text-align: center;
  padding: 3px;
  background-color: #A9A9A9;
  color: white;
  clear: both;
width: 210%;
margin-right: 200px;
margin-top: 100px;
position: relative;
right:212px;
  

}   
 .required:after {
  content:" *";
  color: red;
}
h1{
  margin-left:250px;
}
#submit{
                background-color: #5f27cd;
        color: white;
        padding: 3px 8px;
        text-align: centre;
        text-decoration: none;
        display: inline-block;
        border: 1px #5f27cd;
        font-weight: bold;
        border-radius: 5px;
  cursor: pointer;
}
#file{
  cursor: pointer;
}

#hiderow,.add{
  display: table-row;
}


  </style>
</head>

<body >
  
  
  <form method="POST" action="/update/{{userDetails[0][0]}}" enctype="multipart/form-data">
 
  
  <div class="container-fluid">
  
  <div class="col-md-2" id="buffer"></div>


  
  <div id="example" style="border: solid;">
    <div id="customer">

                <table id="meta">
                <tr>
                    <td class="meta-head  required" >PO Number </td>
                    <td><textarea style="text-transform: capitalize;" name ="num" required >{{userDetails[0][6]}}
                    </textarea></td>
                    
                </tr>
                <tr>
                    <td class="meta-head  required" >Status </td>
                    
                    <td><select class ="meta-head"name="status" id="status">
                    <option class ="meta-head" value = "Open">Open</option>
                    <option class ="meta-head"value = "Closed">Closed</option>

                  </select>


                    </td>
                
                

                <tr>

                    
                    <td class="meta-head  required ">Date</td>
                    <td><input  id="dated" name="dated" value="{{userDetails[0][7]}}" required></td>

                </tr>
                
                <tr>
                 <td class="meta-head required">Trainer</td>
                    <td><input  id="name" name="name" value="{{userDetails[0][1]}}" required></td>
        
      </td>
    </tr>
    <tr>
                    <td class="meta-head">E-mail</td>
                    <td><div class = "select"> 
        <textarea id="email" name="email"  required> {{userDetails[0][13]}}</textarea></td>
         </tr>

 <tr>
                    <td class="meta-head">Address</td>
                    <td><div class = "select"> 
        <textarea id="ad" name="ad"  required>{{userDetails[0][2]}} </textarea>
        </td>
         </tr>
       
        
                 <tr>
                    <td class="meta-head">GST</td>
                    <td><div class = "select"> 
        <textarea id="gst" name="gst"   required>{{userDetails[0][3]}} </textarea></td>
         </tr>

                 <tr>
                    <td class="meta-head">PAN</td>
                    <td><div class = "select"> 
        <textarea id="pan" name="pan" required> {{userDetails[0][4]}}</textarea>
        </td>
         </tr>
         
        
                  <tr>
                    <td class="meta-head required">Training Name</td>
                    <td><div class="mumber"> 
        <textarea id="train" name="train"  required>{{userDetails[0][5]}}</textarea>
        </td>
         </tr>
         
              
         
                   
 </table>


            
    
    </div>
    <br>
    
    
    <table id="items">
    
      <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Unit Cost(&#8377;)</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
        {% for x in orderitem %}
      <tr class="item-row">
          <td class="item-name"><div class="delete-wpr"><textarea name="item[]">{{x[2]}}</textarea><a id="delete" class="delete" href="javascript:;" title="Remove row">X</a></div></td>
      
          <td class="description"><textarea name ="description[]">{{x[3]}} </textarea></td>
                       
          <td><textarea class="cost" name ="unitcost[]" required>{{x[4]}}</textarea></td>
          <td><textarea class="qty" name="quantity[]" required>{{x[5]}}</textarea></td>
          <td><textarea class="price" name="price[]" >{{x[6]}} </textarea></td>
      </tr>
      {% endfor %}
      
      <tr id="hiderow">
        <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add a row</a></td>
      </tr>
      
            
      <tr>
          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">Total</td>
          <td class="total-value"><textarea name="total" id="total"readonly>{{userDetails[0][10]}}</textarea></td>
      </tr>
      
      <tr>
        <tr>
          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">GST(18%)</td>

          <td class="total-value"><textarea name="newgst" id="newgst" readonly>{{userDetails[0][14]}}</textarea></td>
      </tr>

          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">Subtotal</td>
          <td class="total-value"><textarea name="subtotal"id="subtotal" readonly>{{userDetails[0][11]}}</textarea></td>
      </tr>
     
      
      <tr>
          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">Amount in words(rupees)</td>
          <td class="description"><textarea name="words" id="words"  readonly >{{userDetails[0][12]}} </textarea></td>
      </tr>

     <div>

    
    </table>
    <br>
    <button id="submit" type="submit"  value="submit">Submit</button>

  </div>
  </div>
  </form>  

 <footer id ='footer'>
        <p style="color:#000000;">Thinknyx Technologies LLP<br>
          </footer>
      
 
</body>
</html>

  
{% endblock content %}   
