from flask import Flask,render_template,url_for,flash,redirect,request
from flask_paginate import Pagination, get_page_args
from flask_mysqldb import MySQL
from flask import jsonify,json
from forms import TrainerForm
app = Flask(__name__)
users = list(range(100))

app.config['SECRET_KEY']='584bd72428c13cfb572da08954dd5944de5a4219ad2b79eaadbee5bcefa19b14'
app_on = os.getenv("APP_URL")
home_on = os.getenv("HOME_PORT")
vendor_on = os.getenv("VENDOR_PORT")
invoice_on = os.getenv("INVOICE_PORT")
purchase_on = os.getenv("PURCHASE_PORT")
db_host=os.getenv("DB_HOST")
#home_url = (app_on) + ":" + (home_on)
#vendor_url = str(app_on) + ":" + str(vendor_on)
#invoice_url = str(app_on) + ":" + str(invoice_on)
#purchase_url = str(app_on) + ":" + str(purchase_on)
#print(app_url)
var1 = [app_on + ":" + home_on,app_on + ":" + vendor_on,app_on + ":" + invoice_on,app_on + ":" + purchase_on]
#var1 = [app_url,vendor_url,invoice_url,purchase_url]

# Configure db

app.config['MYSQL_HOST'] = db_host
app.config['MYSQL_USER'] = 'root'
app.config['MYSQL_PASSWORD'] = ''
app.config['MYSQL_DB'] = 'flasktab'

#app.config['MYSQL_HOST'] = "18.206.224.217"
#app.config['MYSQL_USER'] = 'root'
#app.config['MYSQL_PASSWORD'] = 'password'
#app.config['MYSQL_DB'] = 'ams'

mysql = MySQL(app) 




@app.route("/")
@app.route("/newtrainer",methods=['GET','POST'])
def newtrainer():
  form=TrainerForm()
  if request.method == 'POST':
    # Fetch form data
    userDetails = request.form
    checkDetails = request.form.getlist
    name= userDetails['name']
    trainertype = checkdetails['trainertype']
    print(trainertype)
    status = userDetails['status']
    gstin= userDetails['gstin']
    pan = userDetails['pan']
    acc1 = userDetails['acc1']
    acc2 = userDetails['acc2']
    acc3 = userDetails['acc3']
    acc4 = userDetails['acc4']
    tech1 = userDetails['tech1']
    tech2 = userDetails['tech2']
    tech3 = userDetails['tech3']
    cur = mysql.connection.cursor()
    cur.execute("INSERT INTO trainer(name,trainertype,status,gstin,pan,acc1,acc2,acc3,acc4,tech1,tech2,tech3) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)",(name,trainertype,status,gstin,pan,acc1,acc2,acc3,acc4,tech1,tech2,tech3))
    mysql.connection.commit()
    cur.close()
    if form.validate_on_submit():
     flash(f'TrainerDetails created for {form.name.data}!','success')
    return redirect(url_for('trainer'))
  return render_template('newtrainer.html',var1=var1,form=form)


@app.route('/getTrainers')
def getTrainers():
    #per_page = 10
    #offset = (int(offset)*10)
    cur = mysql.connection.cursor()
    resultValue = cur.execute("SELECT * FROM trainer")
    columns = [desc[0] for desc in cur.description]
    result = []
    rows = cur.fetchall()
    for row in rows:
      row = dict(zip(columns,row))
      result.append(row)
    return jsonify(result)  





@app.route("/demo")
def demo():
  return render_template('demo.html',var1=var1)






  if __name__ == '__main__':
    app.run(debug=True)




  
