{% extends "layout.html" %}
{% block content%}

<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='print.css') }}">
  <script type='text/javascript' src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='example.js') }}"></script>
  <script>
      $(document).ready(function() {

        $('#name').change(function() {
          console.log("name");
          var vendor_name = $('#name').val();
          // Make Ajax Request and expect JSON-encoded data
          $.getJSON(
            '/getadd' + '/' + vendor_name,
            function(data) {
                add = data[0]['address'];
                //console.log(data);
               $('#ad').val(add);
               $('#ad').val("112");
               console.log(data);
             
            }
          );
        });
      });
    </script>
    <script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#dated').val(today);
    
    $('#test').click(function(){
        
        testClicked();
        
    });
});
function testClicked()
{
    
console.log($   ('#dated').val());    
}
    </script>
  
  <style >
    
 .required:after {
  content:" *";
  color: red;
}

#submit{
          background-color: #5f27cd;
        color: white;
        padding: 3px 8px;
        text-align: centre;
        text-decoration: none;
        display: inline-block;
        border: 1px #5f27cd;
        font-weight: bold;
        border-radius: 5px;
  cursor: pointer;

}
#file{
  cursor: pointer;
}
#hiderow,.add{
  display: table-row;
}


  </style>
</head>


<body >
  <div class="row">
<div class="panel panel-primary">
<div class="panel-heading"><h3 class="panel-title">Add Invoice</h3></div>
<div class="panel-body">

  
  <form method="POST" action="/newinvoicerecieved" enctype="multipart/form-data">
 
  
    <div id="customer">

                <table id="meta">
                <tr>
                    <td class="meta-head  required" >Invoice Number </td>
                    <td><textarea style="text-transform: capitalize;" name ="num" required >INA001</textarea></td>
                    
                </tr>
                <div class="form-group">
                <tr>

                    <td class="meta-head  required ">Date</td>
                    <td><input class="form-control" type="date" id="dated" name="dated" required></td>
                  
                </tr>
              </div>
                
                <tr>
                    <td class="meta-head required">Trainer</td>
                    <td><div class = "select">
        <select  id="name" name="name"  required>
                    <option value="None">-- Select --</option>
                    {% for x in vendornew %}
                    <option>{{x[0]}}</option>
                    {% endfor %}  

               
        </select>
      </td>
    </tr>

        
                 <tr>
                    <td class="meta-head">GST</td>
                    <td><div class = "select"> 
        <textarea id="gst" name="gst"  readonly required> </textarea></td>
         </tr>

                 <tr>
                    <td class="meta-head">PAN</td>
                    <td><div class = "select"> 
        <textarea id="pan" name="pan" readonly required> </textarea>
        </td>
         </tr>
         
        
                  
              
         
                   
 </table>


            
    
    </div>
    <br>
    <b>Upload:</b><input type="file" id="file" name="file" autocomplete="off" required>
    
    <table id="items">
    
      <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Unit Cost(&#8377;)</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
      
      <tr class="item-row">
          <td class="item-name"><div class="delete-wpr"><textarea name= "item[]">Item Name</textarea></td>
          <td class="description"><textarea name ="description[]">Description </textarea></td>
          <td><textarea class="cost" name ="unitcost[]" required> 0.0</textarea></td>
          <td><textarea class="qty" name="quantity[]" required>1</textarea></td>
          <td><textarea class="price" name="price[]"readonly >Rs 0.0 </textarea></td>
      </tr>
      
      
      <tr id="hiderow">
        <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add a row</a></td>
      </tr>
      
            
      <tr>
          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">Total</td>
          <td class="total-value"><textarea name="total" id="total"readonly>0.0</textarea></td>
      </tr>
      
      <tr>
        <tr>
          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">GST(18%)</td>

          <td class="total-value"><textarea name="newgst" id="newgst" readonly>0.0</textarea></td>
      </tr>

          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">Subtotal</td>
          <td class="total-value"><textarea name="subtotal"id="subtotal" readonly>0.0</textarea></td>
      </tr>
     
      
      <tr>
          <td colspan="2" class="blank"> </td>
          <td colspan="2" class="total-line">Amount in words(rupees)</td>
          <td class="description"><textarea name="words" id="words"  readonly > </textarea></td>
      </tr>

     <div>

    
    </table>
    <br>
    <button id="submit" type="submit"  value="submit">Submit</button>

  </div>
  </div>
  </form>  
  <script>
    let vendor = document.getElementById("name");
    vendor.onchange = function()
    {
        vendor_name = vendor.value;
        //alert(vendor_name);
        fetch('/getnew/'+vendor_name).then(function(response) {
            response.json().then(function(data){
                console.table(data);
        //alert(JSON.stringify(data[0].address));
        
         $('#gst').val(JSON.stringify(data[0].gstin).replace(/\"/g, ""));
         $('#pan').val(JSON.stringify(data[0].pan).replace(/\"/g, ""));
         //console.log(data[0].address.replace(/\"/g, "")); 

            });
        });
    }
</script>


      
 
</body>
</html>

  
{% endblock content %}   
